html, body {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #f3f3f3; }

header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 800px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-image: url("logo.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  /*nav{
  	overflow: hidden;
  	ul{
  		position: absolute;
  		margin : 0px;
  		padding : 0px;
  		width: 100%;
  		background-color : rgba(0, 0, 0, 0.85);
  		li{
  			margin : 0px;
  			list-style-type: none;
  			.material-icons.md-light {
  				color: rgba(255, 255, 255, 1); 
  				cursor:pointer;
  				border: none;
  				padding: 10px;
  				background-color: rgba(0, 0, 0, 0.85);
  				font-size: 36px;
  				margin-left : 48%;
  				box-shadow: 0 8px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.5);
  			}
  		}
  	}
  }
  */ }
  header section {
    margin: 0px;
    padding: 0px; }
    header section p {
      top: 40%;
      left: 28%;
      position: absolute;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      margin: 0px;
      padding: 0px;
      max-width: 100%;
      font-weight: 100;
      color: #ddd;
      cursor: default;
      box-sizing: border-box;
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 50px; }

.about {
  /*	background-image: url("wallpaper1.jpg");
  	background-size: 100% 100%;
  	background-attachment: fixed;
  	margin: 0px;
  	padding : 0px;
  	opacity : 0.6;
  	border: 2px solid black; */
  background-color: white; }
  .about p {
    width: 100%;
    height: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0px;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 50px; }

.navbarr {
  margin: 10%; }
  .navbarr ul {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px; }
    .navbarr ul li {
      flex-grow: 1;
      padding: 7%;
      list-style-type: none; }
      .navbarr ul li .imgg1 {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.5); }
      .navbarr ul li a {
        opacity: 0.8; }
      .navbarr ul li a:hover {
        opacity: 1; }

.copyright .p1 {
  margin-left: 42%;
  display: block;
  font-size: 20px;
  font-weight: 100px;
  color: black; }

article {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  padding-top: 2%; }
  article .tile {
    margin-left: 4%;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    min-height: 400px;
    max-width: 28%;
    margin-bottom: 2%; }
    article .tile img {
      max-width: 100%;
      margin: 0px;
      padding: 0px;
      cursor: pointer;
      height: 300px; }
    article .tile .extra-pic {
      visibility: hidden;
      max-width: 25%;
      position: absolute;
      margin: 0px;
      top: 720px;
      padding: 0px;
      cursor: pointer;
      height: 300px; }
    article .tile a {
      text-decoration: none; }
    article .tile h3 {
      overflow: hidden;
      max-width: 100%;
      letter-spacing: 1.2px;
      margin: 10px;
      padding: 0px;
      background-color: white;
      font-weight: 100;
      color: black;
      cursor: pointer;
      box-sizing: border-box;
      font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      font-size: 25px; }

@media screen and (max-width: 959px) {
  header img {
    width: 100%; }
  header p {
    font-size: 30px; }

  article .tile {
    max-width: 40%; } }
@media screen and (max-width: 648px) {
  header img {
    width: 100%; }
  header p {
    font-size: 30px; }

  article .tile {
    max-width: 100%; } }

/*# sourceMappingURL=1.css.map */
